.add_button {
    width: 100%;
    height: 56px;
    padding: 20px 0;
    background-color: #F3F2F2;
    border: none;
    cursor: pointer;
    font-family: Helvetica Neue;
    font-size: 12px;
    font-weight: 300;
    line-height: 16px;
    letter-spacing: 0.08em;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #C2BFBC;
}

.add_button.active {
    color: #FFFFFF;
    background-color: #1B1A18;
}
